<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
    <h1>Calculadora</h1>

    <form action="/calculate" action="GET">
        <label for="value_1">Numero 1</label>
        <input type="number" name="value_1">

        <label for="value_2">Numero 2</label>
        <input type="number" name="value_2">

        <p>                
            <input type="radio" name="operation" id="sum" value="sum">
            <label for="sum">Somar</label>

            <input type="radio" name="operation" id="subb" value="subb">
            <label for="subb">Subtrair</label>

            <input type="radio" name="operation" id="multiply" value="multiply">
            <label for="multiply">Multiplicar</label>

            <input type="radio" name="operation" id="divide" value="divide">
            <label for="divide">Dividir</label>
        </p>

        <button>enviar</button>
    </form>
    {% if result != None %}
    <h2>{{ result }}</h2>
    {% endif %}
</body>
</html>